.header {
    display: block;
}
.person {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    place-items: center;
    gap: 20px;
    color: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 5px;
    margin: 20px;

    .heading {
        font-weight: 600;
        transition: .5s;
        &:hover {
            color: darksalmon;
        }
    }
    .layout {
        margin: 20px;
        text-align: center;
        span {
            transition: .5s;
            &:hover {
                color: darksalmon;
            }
        }
    }
    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        svg {
            transition: .5s;
            &:hover {
                cursor: pointer;
                color: darksalmon;
            }
        }
    }
}



@media screen and (max-width: 600px) {
    .person{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .person.header {
        display: none;
    }
}