.authLayout{
    margin: 20px;
    text-align: center;
}
.navbtns{
    padding: 20px;
}
.btn.auth{
    padding: 0;
    a{
        text-decoration: none;
        color: #282c34;
        display: inline-block;
        padding: 10px;
    }
    &::after{
        content: none;
    }
}
.btn.exit{
    padding: 10px;
}

h2, h3, h4{
    color: cadetblue;
    padding: 10px;
}
.login, .signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.login input, .signup input{
    width: 20vw;
} 
label{
    color: cadetblue;
}


@media (max-width: 768px) {
    .login input, .signup input{
        width: 50vw;
    }
}