* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
}
header {
  height: 50vh;
  display: grid;
  place-content: center;
  background-image: url("../public/images/background.jpg");
  background-position: center top;
}
h1 {
  color: #282c34;
  text-shadow: 3px 3px 10px cadetblue;
}
input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  width: 15vw;
}
footer{
  padding: 30px;
  text-align: center;
  color: cadetblue;
  .bold{
    font-weight: 600;
  }
  .small{
    font-size: 12px;
  }
}

.btn {
  background-color: cadetblue;
  color: #282c34;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: background-color .5s;
  &:hover{
      cursor: pointer;
  }
  &::after{
      content: "";
      width: 0;
      height: 100%;
      transition: .5s ease-in;
      background-color: darksalmon;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 5px;
  }
  &:hover::after {
      width: 100%;
  }
}



@media screen and (max-width: 768px) {
  input {
    width: 50%;
  }
  .person {
    text-align: center;
    display: block;
  }
  header {
    background-attachment: fixed;
  }
}
